/* --- Default settings for every page --- */
* {
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

    /* Navigation bar in every page */
.nav-bar {
    display: inline-block;
    height: 70px;
    width: 100%;
    background-color: white;
    position: fixed;
    opacity: 0.8;
    z-index: 1;
}

.logo {
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nav-list {
    float: right;
    margin-top: 10px;
}

.list-item {
    display: inline-block;
    padding: 10px;
}

.list-item a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

    /* Banner  */
.main-img1 {
    height: 803px;
    width: 1420px;
    background-image: url(../img/pexels-asad-photo-maldives-457881.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

.column {
    float: left;
    width: 20%;
    margin: 10px;
    padding: 10px;
    height: 300px;
    background-color: white;
    opacity: 0.8;

    border-radius: 25px;
    border: 3px solid grey;
}

.column h3  {
    text-align: center;
    margin: 10px;
}
/* -- End of Default Settings */

/* --- Start of index.html --- */
.banner-text1 {
    height: 47px;
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
    position: relative;
    top: 35%;
    font-family: 'Indie Flower', cursive;
    opacity: 0.8;
}

    /* Set of columns in index.html */
.row1 {
    position: relative;
    top: 70%;
    left: 7%;
}

    /* Three colums in Row 1 in index.html */
.box1 {
    height: 50%;
    width: 40%;
}

.box2 {
    height: 50%;
    width: 40%;
}

.box3 {
    height: 50%;
    width: 40%;
}

.box4 {
    height: 50%;
    width: 40%;
}

.pic1 {
    height: 327px;
    width: 540px;
    border-radius: 25px;
}
/* --- End of index.html * ---/

/* --- Start of about.html --- */
.banner-text2 {
    height: 47px;
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
    position: relative;
    top: 15%;
    font-family: 'Indie Flower', cursive;
    opacity: 0.8;
}

    /* Set of columns in about.html */

.row2 {
    position: absolute;
    top: 30%;
    left: 15%;
}

    /* Youtube video in about.html */

.vid {
    margin: 10px;
    position: relative;
    left: 2%;
}

audio {
    margin: 10px;
}

    /* Two columns in Row 2 in about.html */

.box5 {
    height: 510px;
    width: 600px;
}

.box5 p {
    text-align: center;
}

.box5 a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.box6 {
    height: 510px;
    width: 320px;
}

.box6 p {
    line-height: 1.6;
}
/* --- End of about.html */

/* --- Start of contact.html --- */
    /* Set of columns in contact.html */

.row3 {
    position: relative;
    /* top: 70%; */
    left: 5%;
    float: left;
}

.row3 p {
    text-align: center;
    margin: 10px;
}

    /* Two columns in Row 3 in contact.html */

.box7 {
    height: 300px;
    width: 300px;
}

.box8 {
    height: 300px;
    width: 300px;
}

.pic2 {
    height: 209px;
    width: 130px;
    position: relative;
    left: 80px;
    border-radius: 25px;
}

    /* Form in contact.html */

.form {
    height: 300px;
    width: 500px;
    margin: 10px;
    padding: 50px;
    background-color: white;
    top: 30%;
    left: 29.5%;
    opacity: 0.8;
    border-radius: 25px;
    position: absolute;
}

label {
    font-weight: bold;
    position: relative;
    left: 100px;
    display: inline-block;
    height: 30px;
    width: 180px;
}

input {
    width: 200px;
}

textarea {
    resize: none;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
}

.message {
    width: 200px;
}

    /* Google Map in contact.html */
.map {
    margin: 10px;
    position: absolute;
    right: 65px;
    float: right;
}

.center-align {
    position: relative;
    left: 183px;
    top: 30px;
}

.center-align input {
    width: 215px;
}

/* --- Start of Footer --- */

    /* Footer in every page */
footer {
    height: 150px;
    width: 100%;
    background-color: #7EC0EE; 
    background-image: linear-gradient(to right, white, #7EC0EE, white);
    margin-top: 30px;
    clear: both;
    float: left;
    /* opacity: 0.8; */
}

    /* Footer broken up into 3 mini boxes: Submit section, social media, copyrights */

.mini1 {
    /* float: left; */
    position: absolute;
    margin: 10px;
}

.fa-facebook {
    color: #3b5998;
}

.mini2 {
    /* float: left; */
    position: absolute;
    left: 46%;
    margin: 10px;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.mini3 {
    /* float: left; */
    position: absolute;
    left: 75%;
    margin: 10px;
}

.fa-instagram {
    color: black;
    background-image: linear-gradient(to right, #405DE6 , #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    border-radius: 25px;
}

.fab {
    font-size: 30px;
    margin-right: 5px;
}
/* --- End of Footer --- */
